In [45]:
import pandas as pd

In [46]:
df = pd.read_csv("holerite.csv", sep=";")
df.columns

Index(['Nome Completo', 'Email', 'Mês/Ano', 'Cargo', 'CBO', 'PIS',
       'Salário Base', 'Comissão', 'Valores Adicionais', 'Bonificações',
       'Total Vencimentos', 'INSS (%)', 'INSS (R$)', 'IRRF (%)', 'IRRF (R$)',
       'Plano de Saúde', 'Total Descontos', 'Líquido a Receber',
       'Carga Horária', 'Horas Extras', 'Base FGTS', 'FGTS do Mês',
       'Base INSS', 'Base IRRF'],
      dtype='object')

In [47]:
df[['Mês', 'Ano']] = df['Mês/Ano'].str.split('-', expand=True)
df.drop('Mês/Ano', axis=1, inplace=True)
df

,Nome Completo,Email,Cargo,CBO,PIS,Salário Base,Comissão,Valores Adicionais,Bonificações,Total Vencimentos,...,Total Descontos,Líquido a Receber,Carga Horária,Horas Extras,Base FGTS,FGTS do Mês,Base INSS,Base IRRF,Mês,Ano
0,Ana Silva,ana.silva@email.com,Analista de Sistemas,2124-05,85084931713,2641,332,231,476,3680,...,885.7200,2794.2800,44,0,3680,294.40,3680,3128.00,Jan,2020
1,Ana Silva,ana.silva@email.com,Analista de Sistemas,2124-05,94652145537,6817,810,316,672,8615,...,1788.3975,6826.6025,44,5,8615,689.20,8615,7322.75,Feb,2020
2,Ana Silva,ana.silva@email.com,Analista de Sistemas,2124-05,77931700630,6189,878,746,823,8636,...,1580.8940,7055.1060,44,0,8636,690.88,8636,7340.60,Mar,2020
3,Ana Silva,ana.silva@email.com,Analista de Sistemas,2124-05,87335968169,3358,475,535,113,4481,...,1197.0865,3283.9135,44,17,4481,358.48,4481,3808.85,Apr,2020
4,Ana Silva,ana.silva@email.com,Analista de Sistemas,2124-05,92007507501,6447,347,457,610,7861,...,1430.8565,6430.1435,44,3,7861,628.88,7861,6681.85,May,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
955,Tiago Moreira,tiago.moreira@email.com,Cientista de Dados,2122-05,63994294254,4270,498,486,978,6232,...,1365.6280,4866.3720,44,8,6232,498.56,6232,5297.20,Aug,2023
956,Tiago Moreira,tiago.moreira@email.com,Cientista de Dados,2122-05,89931718932,3815,942,118,300,5175,...,980.6375,4194.3625,44,5,5175,414.00,5175,4398.75,Sep,2023
957,Tiago Moreira,tiago.moreira@email.com,Cientista de Dados,2122-05,95002937581,3008,465,259,34,3766,...,1049.0390,2716.9610,44,1,3766,301.28,3766,3201.10,Oct,2023
958,Tiago Moreira,tiago.moreira@email.com,Cientista de Dados,2122-05,47007206051,4885,227,266,794,6172,...,1225.6380,4946.3620,44,10,6172,493.76,6172,5246.20,Nov,2023
959,Tiago Moreira,tiago.moreira@email.com,Cientista de Dados,2122-05,53128062659,6745,352,202,812,8111,...,1532.4815,6578.5185,44,4,8111,648.88,8111,6894.35,Dec,2023

In [48]:
nova_ordem = [
    'Nome Completo', 'Email', 'Mês', 'Ano', 'Cargo', 'CBO', 'PIS',
    'Salário Base', 'Comissão', 'Valores Adicionais', 'Bonificações',
    'Total Vencimentos', 'INSS (%)', 'INSS (R$)', 'IRRF (%)', 'IRRF (R$)',
    'Plano de Saúde', 'Total Descontos', 'Líquido a Receber',
    'Carga Horária', 'Horas Extras', 'Base FGTS', 'FGTS do Mês',
    'Base INSS', 'Base IRRF'
]

df = df[nova_ordem]
df

,Nome Completo,Email,Mês,Ano,Cargo,CBO,PIS,Salário Base,Comissão,Valores Adicionais,...,IRRF (R$),Plano de Saúde,Total Descontos,Líquido a Receber,Carga Horária,Horas Extras,Base FGTS,FGTS do Mês,Base INSS,Base IRRF
0,Ana Silva,ana.silva@email.com,Jan,2020,Analista de Sistemas,2124-05,85084931713,2641,332,231,...,276.000,273,885.7200,2794.2800,44,0,3680,294.40,3680,3128.00
1,Ana Silva,ana.silva@email.com,Feb,2020,Analista de Sistemas,2124-05,94652145537,6817,810,316,...,646.125,354,1788.3975,6826.6025,44,5,8615,689.20,8615,7322.75
2,Ana Silva,ana.silva@email.com,Mar,2020,Analista de Sistemas,2124-05,77931700630,6189,878,746,...,647.700,143,1580.8940,7055.1060,44,0,8636,690.88,8636,7340.60
3,Ana Silva,ana.silva@email.com,Apr,2020,Analista de Sistemas,2124-05,87335968169,3358,475,535,...,336.075,451,1197.0865,3283.9135,44,17,4481,358.48,4481,3808.85
4,Ana Silva,ana.silva@email.com,May,2020,Analista de Sistemas,2124-05,92007507501,6447,347,457,...,589.575,122,1430.8565,6430.1435,44,3,7861,628.88,7861,6681.85
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
955,Tiago Moreira,tiago.moreira@email.com,Aug,2023,Cientista de Dados,2122-05,63994294254,4270,498,486,...,467.400,328,1365.6280,4866.3720,44,8,6232,498.56,6232,5297.20
956,Tiago Moreira,tiago.moreira@email.com,Sep,2023,Cientista de Dados,2122-05,89931718932,3815,942,118,...,388.125,119,980.6375,4194.3625,44,5,5175,414.00,5175,4398.75
957,Tiago Moreira,tiago.moreira@email.com,Oct,2023,Cientista de Dados,2122-05,95002937581,3008,465,259,...,282.450,422,1049.0390,2716.9610,44,1,3766,301.28,3766,3201.10
958,Tiago Moreira,tiago.moreira@email.com,Nov,2023,Cientista de Dados,2122-05,47007206051,4885,227,266,...,462.900,198,1225.6380,4946.3620,44,10,6172,493.76,6172,5246.20
959,Tiago Moreira,tiago.moreira@email.com,Dec,2023,Cientista de Dados,2122-05,53128062659,6745,352,202,...,608.325,182,1532.4815,6578.5185,44,4,8111,648.88,8111,6894.35

In [49]:
df.loc[df['Mês'] == "Jan", 'Mês'] = "Janeiro"
df.loc[df['Mês'] == "Feb", 'Mês'] = "Fevereiro"
df.loc[df['Mês'] == "Mar", 'Mês'] = "Março"
df.loc[df['Mês'] == "Apr", 'Mês'] = "Abril"
df.loc[df['Mês'] == "May", 'Mês'] = "Maio"
df.loc[df['Mês'] == "Jun", 'Mês'] = "Junho"
df.loc[df['Mês'] == "Jul", 'Mês'] = "Julho"
df.loc[df['Mês'] == "Aug", 'Mês'] = "Agosto"
df.loc[df['Mês'] == "Sep", 'Mês'] = "Setembro"
df.loc[df['Mês'] == "Oct", 'Mês'] = "Outubro"
df.loc[df['Mês'] == "Nov", 'Mês'] = "Novembro"
df.loc[df['Mês'] == "Dec", 'Mês'] = "Dezembro"


df.to_csv("novoHolerite.csv", sep=";", index=False, encoding="utf-8")